/*General Styles*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'PT Sans', sans-serif;
    background-color: #fdf5e7;
}

html{
    scroll-behavior: smooth;
}

/*Desktop Nav Bar*/

a{
    text-decoration: none;
    color: #000;
}

h1{
    font-size: 2rem
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

nav, .nav-links{
    display: flex;
}

.nav-links{
    gap: 1.5rem;
    list-style: none;
    font-size: 1.3rem;
}

.desktop:hover{
    color: #535353;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-color: #535353;
}

/*Mobile Nav Bar*/

.hamburger-nav{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: transparent;
    width:fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links a:hover{
    color: #6c6b6b;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-color: #6c6b6b;
}

.menu-links li {
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
} 

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}

#mobile-nav{
    display: none;
}

/*Sections General Styles*/
section{
    padding-top: 5vh;
    height: 95vh;
    margin:0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

/*Hero Section*/

#hero{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 65vh;
}

.pic-container{
    display: flex;
    height: 450px;
    width: 450px;
    margin: auto 0;
}

.profile-picture{
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

.section_text{
    align-self: center;
    text-align: center;

}

.section_text p{
    font-weight: 700;
}

.section_text_p1{
    text-align: center;
    font-size: 2rem;
    color: #656565;
}

.section_text_p2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #656565;
}

.title{
    font-size: 3.5rem;
    text-align: center;

}

#social-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

/*Icon Styles*/

.icon{
    height: 2.7rem;
    cursor: pointer;

}

.icon:hover{
    transform: scale(1.2)
}

.icon:active{
    transform: scale(1.1)
}

/*Button Styles*/

.btn{
    font-weight: 500;
    transition: ease-in-out;
    padding: 1rem;
    width: 8rem;
    border-radius: .8rem;
    border-color: rgb(28, 28, 28) 0.1rem solid;
    cursor: pointer;
    background-color: #fdf5e7 ;
}

.btn:hover{
    background-color: #252525;
    color: #fdf5e7;
    box-shadow: #252525 0 0 0.5rem;

}

.btn:active{
    background-color: #434343;
}