/*General Styles*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'PT Sans', sans-serif;
    background-color: #fdf5e7;
}

html{
    scroll-behavior: smooth;
}

/*Desktop Nav Bar*/

a{
    text-decoration: none;
    color: #000;
}

h1{
    font-size: 2rem
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

nav, .nav-links{
    display: flex;
}

.nav-links{
    gap: 1.5rem;
    list-style: none;
    font-size: 1.3rem;
}

.desktop:hover{
    color: #535353;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-color: #535353;
}

/*Mobile Nav Bar*/

.hamburger-nav{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: transparent;
    width:fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links a:hover{
    color: #535353;
}

.menu-links li {
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
} 

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}

#mobile-nav{
    display: none;
}